# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Executable file
proalg

# C files created by bison or flex
scanner.c
parser.c
parser.tab.h
parser.output

# Debug files
*_debug.y
*_debug.c
*_debug.flex

# Files created by gedit
*~
